<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd"
		>

	<context:annotation-config />  
    <mvc:annotation-driven />

	<!-- 加载Spring的全局配置文件 -->
	<import resource="root-context.xml" />
	
	<bean class= "org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	
	<!-- SpringMVC配置 -->
	<!-- 通过component-scan 让Spring扫描mis.li下的所有的类，让Spring的代码注解生效 -->
	<context:component-scan base-package="mis.li" />
	
	<!-- 开启这个配置，spring才能识别@Scheduled注解   -->  
    <task:annotation-driven/>
    <!-- <task:annotation-driven scheduler="" mode="proxy"/> -->  
	
	<!-- 配置拦截器  -->
	<mvc:interceptors>
	
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="mis.li.interceptor.SessionInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/user"/>
			<mvc:mapping path="/user/cud"/>
			<mvc:mapping path="/user/queryByPage"/>
			<mvc:mapping path="/role"/>
			<mvc:mapping path="/role/cud"/>
			<mvc:mapping path="/role/queryByPage"/>
			<mvc:mapping path="/dscCompany"/>
			<mvc:mapping path="/dscCompany/cud"/>
			<mvc:mapping path="/dscCompany/queryByPage"/>
			<mvc:mapping path="/dscModule"/>
			<mvc:mapping path="/dscModule/cud"/>
			<mvc:mapping path="/dscModule/queryByPage"/>
			<mvc:mapping path="/dscVehicleInfo"/>
			<mvc:mapping path="/dscVehicleInfoAll"/>
			<mvc:mapping path="/dscVehicleInfo/cud"/>
			<mvc:mapping path="/dscVehicleInfo/queryByPage"/>
			<mvc:mapping path="/dscPark"/>
			<mvc:mapping path="/dscPark/cud"/>
			<mvc:mapping path="/dscPark/queryByPage"/>
			<mvc:mapping path="/dscReport"/>
			<mvc:mapping path="/dscReport/cud"/>
			<mvc:mapping path="/dscReport/queryByPage"/>
			
			<bean class="mis.li.interceptor.CommonInterceptor"></bean>
		</mvc:interceptor> 
		
	</mvc:interceptors>
	
	<!-- 基于注释的事务，当注释中发现@Transactional时，使用id为“transactionManager”的事务管理器  -->
    <!-- 如果没有设置transaction-manager的值，则spring以缺省默认的事务管理器来处理事务，默认事务管理器为第一个加载的事务管理器 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 配置SpringMVC的视图渲染器， 让其前缀为:/page/ 后缀为.jsp  将视图渲染到/page/<method返回值>.jsp中 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/" p:suffix=".html" />

		

</beans>
